* {
  box-sizing: border-box;
}

:root {
  font-family: "Arial", sans-serif;
  color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-highlight: #0b4f7f;
  --color-light-grey: #dddddd;

  --border-radius: 15px;
}

#root {
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-highlight);
}

.a-phone {
  text-decoration: underline;
  color: inherit;
}

input:focus {
  outline: none;
}

.map {
  position: relative;
  width: 100vw;
  height: 100dvh;
}

.map-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* InfoPanel */
.info-panel {
  position: absolute;
  top: 5px;
  left: 5px;
  min-width: 20vw;
  background-color: white;
  padding: 0 10px 10px 10px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 3px #555555;
  z-index: 3;
} /* adjusted in @media below */

.info-panel h3 {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}

.info-panel p {
  margin: 0.8rem 0;
}

p.info-subtitle {
  margin-top: 0.4rem;
}

.info-panel p:last-child {
  margin-bottom: 0.4rem;
}

.info-panel table {
  border-collapse: collapse;
}

.info-panel td {
  padding: 0 0 0.2rem 1rem;
  padding-left: 1rem;
}

.info-panel td:first-child {
  padding-left: 0;
}

.info-divider {
  border-bottom: 1px solid #555555;
  width: 100%;
  margin-bottom: 1rem;
}

.info-element {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 0.8rem;
}

.info-element img {
  height: 1.2rem;
}

/* ControlBar */
.control-bar {
  position: absolute;
  top: 5px;
  left: 5px;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.control-bar > div {
  pointer-events: auto;
}

.control-button {
  position: relative;
  background-color: white;

  height: 2.6em;
  width: 2.6em;

  border-radius: 5px;
  box-shadow: 0 0 3px #555555;
  cursor: pointer;
}

.control-button:hover {
  background-color: #eeeeee;
}

.control-button img {
  display: block;
  position: absolute;
  top: 0.6em;
  right: 0.6em; /* half of remaining width */

  width: 1.4em;
  height: 1.4em;
}

.legend-button img {
  top: 0.35em;
}

.control-button span {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 1px;
  transform: translateX(-50%);
  font-size: 0.6em;
}

.grayscale img {
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

/* SearchBar */
.search-bar {
  min-width: 20vw;
  background-color: white;

  border-radius: var(--border-radius);
  box-shadow: 0 0 3px #555555;

  overflow: hidden;
}

.search-bar form {
  position: relative;
}

.search-bar input {
  width: 100%;
  height: 2.6em;
  padding: 5px 10px 5px 10px;
  font: inherit;
}

.suggestions a {
  display: block;
  margin-top: 3px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

.suggestions a:first-child {
  margin-top: 0;
}

.suggestions a:hover {
  background-color: var(--color-light-grey);
}

/* FilterBar */
.filter-bar {
  background-color: white;

  border-radius: var(--border-radius);
  box-shadow: 0 0 3px #555555;

  overflow: hidden;
}

/* Buttons */
.close-button {
  position: absolute;
  top: 0.1em;
  right: 0.1em;

  height: 2.4em;
  width: 2.4em;

  border-radius: 100%;
  cursor: pointer;
}

.close-button:hover {
  background-color: #eeeeee;
}

.close-button img {
  display: block;
  position: absolute;
  top: 0.5em;
  right: 0.5em;

  width: 1.4em;
  height: 1.4em;
}

@media (max-aspect-ratio: 1/1) {
  .info-panel {
    top: auto;
    left: 0;
    bottom: 0;
    width: 100vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .search-bar {
    min-width: 70vw;
  }
}

@media (pointer: coarse) {
  .control-button:hover {
    background-color: white;
  }
}

/* layout closed/opened store */
.opening-hour-panel {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0rem;
  margin-top: 0.05rem;
  margin-bottom: 0.4rem;
}

.opening-hour-panel.open {
  color: #065f46;
}

.opening-hour-panel.closed {
  color: #991b1b;
}
